[submodule "spcoin-weth-module-cjs"]
	path = spcoin-weth-module-cjs
	url = git@github.com:sponsorCoinAdmin/spcoin-weth-module-cjs.git
[submodule "spcoin-access-modules-cjs"]
	path = spcoin-access-modules-cjs
	url = git@github.com:sponsorCoinAdmin/spcoin-access-modules-cjs.git
